.chat {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.left-pane,
.right-pane
{
  display: flex;
  padding: 0px;
  flex-direction: column;
}

.left-pane {
  flex: 0.2;
  background: #eaeaea;
}

.right-pane {
  flex: 1;
}

.room {
  text-align: center;
  padding: 10px;
  margin: 5px;
  background-color: #cccccc;
}

.message-pane {
  display: flex;
  flex: 1;
}

.compose-pane {
  display: flex;
}

/* New styles */

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

html, body, #root {
  background: #e5e5e5;
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}

ul, li {
  padding: 0;
}

li {
  list-style-type: none;
}

::selection{
  background: rgba(82,179,217,0.3);
  color: inherit;
}

a{
  color: rgba(82,179,217,0.9);
}

/* M E N U */

.left-pane .menu {
  background: #001A40;
}

.left-pane .menu .room-title {
  left: 33%;
}

.menu {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  background: rgba(82,179,217,0.9);
  z-index: 100;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.back {
  position: absolute;
  width: 90px;
  height: 50px;
  top: 0;
  left: 0;
  color: #fff;
  line-height: 50px;
  font-size: 30px;
  padding-left: 10px;
  cursor: pointer;
}

.back:active {
  background: rgba(255,255,255,0.2);
}

.room-title{
  position: absolute;
  top: 10px;
  left: 40px;
  font-family: 'Lato';
  font-size: 25px;
  font-weight: 300;
  color: rgba(255,255,255,0.98);
  cursor: default;
}

.delete-room-button {
  float: right;
}

.add-room-button {
  float: right;
  margin: 15px;
  color: rgba(255,255,255,0.98);
}

/* M E S S A G E S */

.message-list {
  list-style: none;
  background: none;
  margin: 0;
  padding: 0 0 50px 0;
  margin-top: 60px;
  margin-bottom: 10px;
  width: 100%;
}
.message-list li {
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
}

.other .message {
  order: 1;
  border-top-left-radius: 0;
  box-shadow: -1px 2px 0 #D4D4D4;
}
.other:before {
  content: "";
  position: relative;
  top: 0;
  right: 0;
  left: 40px;
  width: 0;
  height: 0;
  border: 5px solid #fff;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.self {
  justify-content: flex-end;
  align-items: flex-end;
}
.self .message {
  order: 1;
  border-bottom-right-radius: 0;
  box-shadow: 1px 2px 0 #D4D4D4;
}

.message {
  background: white;
  min-width: 50px;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}
.message p {
  font-size: 0.8rem;
  margin: 0 0 0.2rem 0;
  color: #777;
}

@media screen and (max-width: 800px) {
  .message img {
    width: 300px;
  }
}
@media screen and (max-width: 550px) {
  .message img {
    width: 200px;
  }
}

@-webikt-keyframes pulse {
  from { opacity: 0; }
  to { opacity: 0.5; }
}

::-webkit-scrollbar {
  min-width: 12px;
  width: 12px;
  max-width: 12px;
  min-height: 12px;
  height: 12px;
  max-height: 12px;
  background: #e5e5e5;
  box-shadow: inset 0 50px 0 rgba(82,179,217,0.9), inset 0 -52px 0 #fafafa;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
  border: none;
  border-radius: 100px;
  border: solid 3px #e5e5e5;
  box-shadow: inset 0 0 3px #999;
}

::-webkit-scrollbar-thumb:hover {
  background: #b0b0b0;
  box-shadow: inset 0 0 3px #888;
}

::-webkit-scrollbar-thumb:active {
  background: #aaa;
  box-shadow: inset 0 0 3px #7f7f7f;
}

::-webkit-scrollbar-button {
  display: block;
  height: 26px;
}

/* T Y P E */

textarea {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  z-index: 99;
  background: #fafafa;
  border: none;
  outline: none;
  padding-left: 55px;
  padding-right: 55px;
  color: #666;
  font-weight: 400;
}
